<launch>

	<node pkg="px4ctrl" type="px4ctrl_node" name="px4ctrl" output="screen">
        	<!-- <remap from="~odom" to="/vicon_imu_ekf_odom" /> -->
			
			<!-- <remap from="~odom" to="/vins_fusion/imu_propagate" /> -->
			<!-- <remap from="~odom" to="/mavros/local_position/odom" /> -->
			<remap from="~odom" to="/vio/odometry_enu" />
			<!-- <remap from="~odom" to="/vrpn_client_node/droneyee10/0/odometry" /> -->

		<!-- <remap from="~cmd" to="/planning/pos_cmd" /> -->
		<remap from="~cmd" to="/position_cmd" />

        <rosparam command="load" file="$(find px4ctrl)/config/ctrl_param_fpv.yaml" />
	</node>
 
</launch>
